[Unit]
Description=Vectra Active Enforcement

[Service]
User=dmurphy
WorkingDirectory=/home/dmurphy/vaedbl
Environment=FLASK_APP=/home/dmurphy/vaedbl/vaedbl.py
ExecStart=/home/dmurphy/.local/bin/flask run --host=0.0.0.0 --port=8080
RestartSec=15s

[Install]
WantedBy=multi-user.target
